<section
  class="section{% for modifier in modifiers %} {{ modifier }}{% endfor %} theme theme--{{ theme|default('light') }}"
>
  <div
    {% if id %}id="{{ id }}"{% endif %}
    class="container"
    {% if anchor %}data-anchor="{{ anchor }}"{% endif %}
  >

    {% if title or description %}
      <div class="section__header">
        {% if title %}
          <h2 class="section__title">{{ title }}</h2>
        {% endif %}
        {% if description %}
          <div class="section__description">{{ description }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="section__body">
      {% block body %}Default section body that will get replaced by a component{% endblock %}
    </div>

    {% if link %}
      <div class="section__footer">
        <a
          class="section__link"
          href="{{ link.href }}"
          {% if link.target %}target="{{ link.target }}"{% endif %}
          {% if link.target == '_blank' %}rel="noopener"{% endif %}
        >{{ link.text }}</a>
      </div>
    {% endif %}

  </div>
</section>
