{% set block = 'toggle' %}

<label class="{{ block }} {%- for modifier in modifiers %} {{ block }}--{{ modifier }}{% endfor %} {{ jsClass }}">
  <input type="checkbox" class="{{ block }}__checkbox"
    {%- if checked %} checked{% endif %}
    {%- if disabled %} disabled{% endif %} />
  {% if text -%}
  <span class="{{ block }}__label">{{ text }}</span>
  {% endif -%}
  <span class="{{ block }}__rail"></span>
</label>